@import "../../styles/index.scss";

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  //   background: rgba(128, 128, 128, 0.377);
  width: 75%;
  margin: 0 auto;
}

.about {
  margin-top: 2rem;
  color: $mint;
  //   background: gray;
  width: 40vw;
  font-size: 1.1rem;
  line-height: 1.5rem;
  @media screen and (max-width: 600px) {
    width: 75vw;
  }
}

.email {
  color: $green;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 1.5rem;
  transform: rotate(90deg);
  position: absolute;
  right: 5%;
  bottom: 50%;
}
